<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="pingpong.server.mapper.UserDiaryMapper">

	<select id="getMembers" resultType="pingpong.server.domain.UserDiary">
		SELECT * FROM user_diary WHERE diary_id = #{diaryId}
	</select>

	<select id="getUserDiary" resultType="pingpong.server.domain.UserDiary">
		SELECT * FROM user_diary WHERE diary_id = #{diaryId} AND user_id =
		#{userId}
	</select>

	<insert id="inviteMember">
		INSERT INTO user_diary (user_id, diary_id, role, status)
		VALUES (#{userId}, #{diaryId}, 'MEMBER', 'ACTIVE')
	</insert>

	<delete id="removeMember">
		DELETE FROM user_diary WHERE diary_id = #{diaryId} AND user_id =
		#{userId}
	</delete>

	<select id="isUserInDiary" resultType="boolean">
		SELECT CASE WHEN COUNT(*) > 0 THEN TRUE ELSE FALSE END
		FROM user_diary
		WHERE diary_id = #{diaryId} AND user_id = #{userId}
	</select>

	<insert id="inviteMemberAsOwner">
		INSERT INTO user_diary (user_id, diary_id, role, status)
		VALUES (#{userId}, #{diaryId}, 'OWNER', 'ACTIVE')
	</insert>

	<insert id="inviteMemberAsReceiver">
		INSERT INTO user_diary (diary_id, user_id, role)
		VALUES (#{diaryId}, #{userId}, 'RECEIVER')
	</insert>


</mapper>
