<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="pingpong.server.mapper.UserDailyMapper">

    <select id="getMembers" resultType="pingpong.server.domain.UserDaily">
        SELECT * FROM user_daily WHERE daily_id = #{dailyId}
    </select>

    <insert id="inviteMember">
        INSERT INTO user_daily (user_id, daily_id, role, status)
        VALUES (#{userId}, #{dailyId}, 'MEMBER', 'ACTIVE')
    </insert>

    <insert id="inviteMemberAsOwner">
        INSERT INTO user_daily (user_id, daily_id, role, status)
        VALUES (#{userId}, #{dailyId}, 'OWNER', 'ACTIVE')
    </insert>

    <delete id="removeMember">
        DELETE FROM user_daily WHERE daily_id = #{dailyId} AND user_id = #{userId}
    </delete>

    <select id="getUserDaily" resultType="pingpong.server.domain.UserDaily">
        SELECT * FROM user_daily WHERE daily_id = #{dailyId} AND user_id = #{userId}
    </select>

    <select id="isUserInDaily" resultType="boolean">
        SELECT CASE WHEN COUNT(*) > 0 THEN TRUE ELSE FALSE END
        FROM user_daily
        WHERE daily_id = #{dailyId} AND user_id = #{userId}
    </select>

</mapper>
